.mood-element{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    gap: 1rem;
    flex-direction: column;
    /* box-shadow: inset 0 0 30px #ffffff80; */
}
.mood-element h1{
    background-image: url('./heading.jpg');
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    object-fit: cover;
    background-position:center;
}

.mood-element .detect-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    border: 1px solid #ffffff80;
    border-radius: 1rem;
    /* box-shadow: inset 0 0 40px #ffffff44; */
    width: 100%;
    padding:2rem;
}

.mood-element button{
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #2c2c2c;
    color: whitesmoke;
    cursor: pointer;
    box-shadow: inset 0 0 10px darkseagreen;
    transition: all 0.2s ease-in-out;;
}

.mood-element button:hover{
    box-shadow: inset 0 0 0px;
    border: 1px solid darkseagreen;
}
.mood-element button:active{
    box-shadow: 0 0 10px rgba(143, 188, 143, 0.731);
}
.user-video-feed{
    width: 25em;
    aspect-ratio: 16/9;
    border-radius: 1rem;
    object-fit: cover;
}
.songs-container{
    width: 100%;
}
