.mood-element{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4rem;
    gap: 1rem;
    flex-direction: column;
}
.mood-element h1{
    background-image: url('./heading.jpg');
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    object-fit: cover;
    background-position: bottom center;
}

.mood-element .detect-section{
    display: flex;
    align-items: center;
    gap: 3rem;
    border: 1px solid rgba(245, 245, 245, 0.384);
    padding: 3rem;
    border-radius: 1rem;
}

.mood-element button{
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #2c2c2c;
    color: whitesmoke;
    cursor: pointer;
}
.user-video-feed{
    width: 25em;
    aspect-ratio: 16/9;
    border-radius: 1rem;
    object-fit: cover;
}
